@model GoalBasedMvc.Models.INetwork

@section Scripts{

    <script>
        $(function () {

            var network = @Html.Raw(Json.Serialize(Model));


            var selectedNode;
            var distributionChart, cashFlowsChart, goalAttainmentChart;

            init();

            function init() {
                network.cashFlows = network.cashFlows.map(function (cashFlow) { return cashFlow.cost });
                Chart.defaults.scale.gridLines.display = false;
                createNodeTable();
                $('#btnCalculate').click(calculateNetwork);
                $('#selectDistribution').change(selectDistributionByIndex);
                $('button[data-node-id]').click(selectNode);
                $('input[data-node-id]').change(changeNodeInput);
                $('input[data-distribution-field]').change(changeDistributionInput);
                $('#btnDownloadNodes').click(downloadNodeFile);
                $('#btnDownloadCashFlows').click(downloadCashFlowFile);
                $('#CashFlows').change(loadCashFlowFile);
                $('#Nodes').change(loadNodesFile);
                $('button[data-node-id]').first().click();
                createCashFlowsGraph();
                createGoalAttainmentGraph();

            }

            function createNodeTable() {
                var strTemplate;
                for (var nodeId in network.nodes) {
                    var node = network.nodes[nodeId];
                    if (node.isPortfolioComponent) {
                        var strTemplate = $('#PortfolioComponentTemplate').html();
                    } else {
                        var strTemplate = $('#NonPortfolioComponentTemplate').html();
                    }
                    fillTemplate(node, strTemplate);
                }
            }

            function fillTemplate(node, strTemplate) {
                    var template = $($.parseHTML(strTemplate));
                    template.find('td[data-node-field]').each(function () {
                        var fieldValue;
                        var fieldName = $(this).attr('data-node-field');
                            if (fieldName === 'parent.name') {
                                var parent = node['parent'];
                                fieldValue = parent ? parent['name']:"";
                            } else {
                                fieldValue = node[fieldName];
                            }
                            $(this).html(fieldValue);
                    });
                template.find('[data-node-id]').each(function () {
                            $(this).attr('data-node-id', node.id);
                    });
                    template.find('input[data-node-field]').each(function () {
                            var fieldName = $(this).attr('data-node-field');
                            var fieldValue = node[fieldName];
                            $(this).val(fieldValue);
                    });
                    $('#tblNodes tbody').append(template);
            }

            function downloadNodeFile(event) {
                event.preventDefault();
                var name = "nodes.json";
                var type = "application/json";
                var data = JSON.stringify(network.nodes);
                if (data && navigator.msSaveBlob)
                    return navigator.msSaveBlob(new Blob([data], { type: type }, name));
                var a = $("<a style='display: none;'/>");
                var url = window.URL.createObjectURL(new Blob([data], { type: type }));
                a.attr("href", url);
                a.attr("download", name);
                $("body").append(a);
                a[0].click();
                window.URL.revokeObjectURL(url);
                a.remove();
            }

            function downloadCashFlowFile(event) {
                event.preventDefault();
                var name = "cashflows.csv";
                var type = "csv";
                var data = 'Cost\r\n' + network.cashFlows.join('\r\n');
                if (data && navigator.msSaveBlob)
                    return navigator.msSaveBlob(new Blob([data], { type: type }, name));
                var a = $("<a style='display: none;'/>");
                var url = window.URL.createObjectURL(new Blob([data], { type: type }));
                a.attr("href", url);
                a.attr("download", name);
                $("body").append(a);
                a[0].click();
                window.URL.revokeObjectURL(url);
                a.remove();
            }

            function selectNode() {
                var element = $(this);
                $('button[data-node-id]').removeClass('btn-success');
                element.addClass('btn-success');
                var nodeId = element.data('nodeId');
                selectedNode = network.nodes[nodeId];
                setSelectDistributionOptions(selectedNode);
                selectDistributionByIndex();
            }

            function changeNodeInput() {
                var element = $(this);
                var nodeId = element.data('nodeId');
                var nodeField = element.data('nodeField');
                var node = network.nodes[nodeId];
                node[nodeField] = element.val();
            }

            function changeDistributionInput() {
                var element = $(this);
                var distributionField = element.data('distributionField');
                selectedDistribution[distributionField] = element.val();
            }

            function selectDistributionByIndex() {
                var index = $('#selectDistribution').val();
                selectedDistribution = selectedNode.distributions[index];
                $('#mean').html(selectedDistribution.mean.toFixed(3));
                $('#stdev').html(selectedDistribution.stdev.toFixed(3));
                $('#skew').html(selectedDistribution.skew.toFixed(3));
                $('#kurt').html(selectedDistribution.kurt.toFixed(3));
                $("input[data-distribution-field='minimum']").val(selectedDistribution.minimum);
                $("input[data-distribution-field='worst']").val(selectedDistribution.worst);
                $("input[data-distribution-field='likely']").val(selectedDistribution.likely);
                $("input[data-distribution-field='best']").val(selectedDistribution.best);
                $("input[data-distribution-field='maximum']").val(selectedDistribution.maximum);

                if (distributionChart) {
                    var label = ["Minimum", "Worst", "Likely", "Best", "Maximum"];
                    var distributionData = getDistributionGraphData(selectedDistribution);
                    removeGraphData(distributionChart);
                    addGraphData(distributionChart, distributionData, label);
                } else {
                    createDistributionGraph(selectedDistribution);
                }

            }

            function setSelectDistributionOptions(selectedNode) {
                $('#selectDistribution').empty();
                if (!selectedNode.parent) {
                    $('<option>Distribution</option>').val(0).appendTo('#selectDistribution');
                }else{
                    $('<option>Left Tail</option>').val(0).appendTo('#selectDistribution');
                    $('<option>Left Normal</option>').val(1).appendTo('#selectDistribution');
                    $('<option>Right Normal</option>').val(2).appendTo('#selectDistribution');
                    $('<option>Right Tail</option>').val(3).appendTo('#selectDistribution');
                }
            }

            function createDistributionGraph(selectedDistribution) {
                var distributionData = getDistributionGraphData(selectedDistribution);
                var distributionCtx = document.getElementById("distributionChart").getContext("2d");
                distributionChart = new Chart(distributionCtx, {
                    type: 'scatter',
                    data: {
                        labels: ["Minimum", "Worst", "Likely", "Best", "Maximum"],
                        datasets: [{
                            label: 'Distribution',
                            showLine: true,
                            lineTension: 0,
                            data: distributionData
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    drawBorder: false,
                                },
                                ticks: {
                                    display: false
                                }
                            }],
                            xAxes: [{
                                type: 'linear',
                                position: 'bottom',
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }]
                        }
                    }
                });
            }

            function removeGraphData(chart) {
                chart.data.labels = [];
                chart.data.datasets[0].data = [];
                chart.update();
            }

            function addGraphData(chart, data, labels) {
                chart.data.labels = labels
                chart.data.datasets[0].data = data;
                chart.update();
            }

            function getDistributionGraphData(distribution) {
                return [
                    { x: distribution.minimum, y: 0 },
                    { x: distribution.worst, y: distribution.heightWorst },
                    { x: distribution.likely, y: distribution.heightLikely },
                    { x: distribution.best, y: distribution.heightBest },
                    { x: distribution.maximum, y: 0 }
                ];
            }

            function createCashFlowsGraph() {
                var cashFlowsLabels = getTimeSeriesGraphLabels(network.cashFlows);
                var cashFlowsCtx = document.getElementById("cashFlowsChart").getContext("2d");

                cashFlowsChart = new Chart(cashFlowsCtx, {
                    type: 'line',
                    data: {
                        labels: cashFlowsLabels,
                        datasets: [{
                            label: 'Cash Flow',
                            lineTension: 0,
                            data: network.cashFlows
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }]
                        }
                    }
                });
            }

            function createGoalAttainmentGraph() {
                var goalAttainmentLabels = getTimeSeriesGraphLabels(network.portfolio.successProbabilities);
                var goalAttainmentCtx = document.getElementById("goalAttainmentChart").getContext("2d");

                goalAttainmentChart = new Chart(goalAttainmentCtx, {
                    type: 'line',
                    data: {
                        labels: goalAttainmentLabels,
                        datasets: [{
                            label: 'Goal Attainment',
                            lineTension: 0,
                            data: network.portfolio.successProbabilities
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    fontSize: 14,
                                    fontStyle: 'bold'
                                }
                            }]
                        }
                    }
                });
            }

            function getTimeSeriesGraphLabels(data) {
                var labels = [];
                for (var cnt = 0; cnt < data.length; cnt++) {
                        labels.push("Year " + cnt);
                }
                return labels;
            }

            function loadCashFlowFile() {
                var input = $("#CashFlows")[0];
                var file = input.files[0];
                var fileReader = new FileReader();
                fileReader.onload = onloadCashFlowFile;
                fileReader.readAsText(file);
            }

            function onloadCashFlowFile(e) {
                var lines = e.target.result;
                network.cashFlows = lines.split(/\n/);
                network.cashFlows.splice(0, 1);
                network.cashFlows = network.cashFlows.filter(function (el) { return el.length > 0 });
                network.cashFlows = network.cashFlows.map(function (cashFlow) { return parseFloat(cashFlow); })
                $("#goalAttainmentContainer").hide();
                updateCashFlowChart();
            }

            function updateCashFlowChart() {
                removeGraphData(cashFlowsChart);
                var labels = getTimeSeriesGraphLabels(network.cashFlows);
                addGraphData(cashFlowsChart, network.cashFlows, labels);
            }



            function updateGoalAttainmentChart() {
                $("#goalAttainmentContainer").show();
                removeGraphData(goalAttainmentChart);
                var labels = getTimeSeriesGraphLabels(network.portfolio.successProbabilities);
                addGraphData(goalAttainmentChart, network.portfolio.successProbabilities, labels);
            }

            function loadNodesFile() {
                var input = $("#Nodes")[0];
                var file = input.files[0];
                var fileReader = new FileReader();
                fileReader.onload = onloadNodeFile;
                fileReader.readAsText(file);
            }

            function onloadNodeFile(e) {
                var lines = e.target.result;
                network.nodes = JSON.parse(lines);
                $("#goalAttainmentContainer").hide();
                updateNodes()
            }

            function updateNodes() {
                $('#tblNodes tbody').empty();
                createNodeTable();
                $('input[data-node-id]').change(changeNodeInput);
                $('button[data-node-id]').click(selectNode);
                $('button[data-node-id]').first().click();
            }

            function calculateNetwork() {
                network.cashFlows = network.cashFlows.map(function (cashflow, idx) { return { id: idx, cost: cashflow } });
                $.ajax({
                    method: "Post",
                    url: '/Network/Edit',
                    data: JSON.stringify(network),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: calculateNetworkSuccess
                })
            }

            function calculateNetworkSuccess(response) {
                network = response;
                network.cashFlows = network.cashFlows.map(function (cashFlow) { return cashFlow.cost });
                updateNodes();
                updateCashFlowChart();
                updateGoalAttainmentChart();
            }

         });
    </script>

}


<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <h1 class="panel-title">Network <a class="btn btn-info pull-right" href="instructions")">Instructions</a></h1>
    </div>

    <form class="panel-body">

        <div id="goalAttainmentContainer" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Probability of Success</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <canvas id="goalAttainmentChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Cash Flows</h3>
            </div>

            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <input type="file" id="CashFlows" class="form-control" aria-label="Upload Cash Flows" />
                </div>
                <a id="btnDownloadCashFlows" class="btn btn-default" aria-label="Download Cash Flows">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                </a>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <canvas id="cashFlowsChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Nodes</h3>
            </div>

            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <input type="file" id="Nodes" class="form-control" aria-label="Upload Nodes" />
                </div>
                <a id="btnDownloadNodes" class="btn btn-default" aria-label="Download Nodes">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                </a>
            </div>


            <div class="table-responsive">
                <table id="tblNodes" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Parent</th>
                            <th>Initial Investment</th>
                            <th>Initial Price</th>
                            <th>Portfolio Component?</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>


            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">Distribution</h5>
                    </div>

                    <div class="row">
                        <div class="col-xs-8 col-sm-6 col-md-4">
                            <select id="selectDistribution" class="form-control"></select>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <div class="form-group">
                                    <label>Minimum</label>
                                    <input data-distribution-field="minimum" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Worst</label>
                                    <input data-distribution-field="worst" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Likely</label>
                                    <input data-distribution-field="likely" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Best</label>
                                    <input data-distribution-field="best" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Maximum</label>
                                    <input data-distribution-field="maximum" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <canvas id="distributionChart"></canvas>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Average</th>
                                                <th>Volatility</th>
                                                <th>Skewness</th>
                                                <th>Kurtosis</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="mean"></td>
                                                <td id="stdev"></td>
                                                <td id="skew"></td>
                                                <td id="kurt"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group pull-right" role="group">
                    <button type="button" id="btnCalculate" class="btn btn-lg btn-primary">Calculate</button>
                    <a href="/" class="btn btn-lg btn-danger pull-right">Search</a>
                </div>
            </div>
        </div>

    </form>

</div>

<script id="NonPortfolioComponentTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td data-node-field="id"></td>
        <td data-node-field="name"></td>
        <td data-node-field="parent.name"></td>
        <td data-node-field='initialInvestment'></td>
        <td data-node-field="initialPrice"></td>
        <td data-node-field="isPortfolioComponent"></td>
        <td><button type="button" data-node-id="">Select</button></td>
    </tr>
</script>

<script id="PortfolioComponentTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td data-node-field="id"></td>
        <td data-node-field="name"></td>
        <td data-node-field="parent.name"></td>
        <td>
            <input class='form-control' data-node-field='initialInvestment' data-node-id='' />
        </td>
        <td>
            <input class="form-control" data-node-field='initialPrice' data-node-id='' />
        </td>
        <td data-node-field="isPortfolioComponent"></td>
        <td>
            <button type="button" data-node-id="">
                Select
            </button>
        </td>
    </tr>
</script>
