@model IEnumerable<GoalBasedMvc.Models.NetworkViewModel>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Network Search</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a asp-area="" asp-controller="Network" asp-action="Edit" asp-route-url="@item.Url">@item.Name</a></td>
                    <td>@item.Url</td>
                </tr>
            }
        </tbody>
    </table>

</div>
