@model IEnumerable<GoalBasedMvc.Models.NetworkSearchViewModel>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Network Search</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td><a asp-area="" asp-controller="Network" asp-action="Edit" asp-route-id="@item.Id">@item.Name</a></td>
            </tr>
        }
        </tbody>
    </table>

</div>
